body{
        background-color: rgb(252, 238, 221);
}

.ItemListContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 5rem;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(32, 32, 32, 0.438);
    background: linear-gradient(-47deg, #373f46, #4b4e4e, #292e2e, #32353a);
}


.greeting {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 110px 0 2rem 0; 
    color: #ffffff;
    background-color: #011d50;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 2px;
}

.itemlist {
    margin-top: 15px;
}

.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 4rem;
    padding: 5rem;
}

.item > * {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s;
}

.item > *:hover {
    transform: scale(1.05);
    z-index: 2;
}

.links{
    margin-left: 3.7rem;
    box-shadow: 1 1px  rgba(0, 0, 0, 0.438);
}

.img-item {
    width: 42%;
    border-radius: 1rem;
    display: block;
    margin: 0 auto;
}

.nombre {
    text-align: center;
    margin: 10px 0;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}

.precio {
    text-align: center;
    font-size: 1.6rem;
    color: rgb(2, 207, 29);
}

@media screen and (max-width: 1618px) {
    .greeting {
        width: 100%;
    }
}


@media screen and (max-width: 1440px) {
    .greeting {
    width: 100%;
    }
}

@media screen and (max-width: 1366px) {
    .ItemListContainer {
        max-width: 1000px;
    }
    
}

@media screen and (max-width: 1280px) {
    .greeting {
    margin-top: 6rem;
    }
    .item {
        padding: 8rem;
    }
    .ItemListContainer {
    max-width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .item {
        padding: 3rem;
    }
    .ItemListContainer {
        max-width: 800px;
    }
    
}


@media screen and (max-width: 768px) {
    .item {
        padding: 2rem;
    }
    .nombre {
        font-size: 0.9rem;
    }
    .ItemListContainer {
        max-width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .greeting {
        font-size: 1.2rem;
    }
    .item {
        padding-top: 1rem;
        grid-template-columns: 1fr; 
    }
    .nombre {
        font-size: 0.8rem;
    }
    .precio {
        font-size: 1.2rem;
    }
    .ItemListContainer {
        max-width: 80%;
        margin-bottom: 5rem;
}
    .img-item {
        width: 70%;
    }
}

@media screen and (max-width: 396px) {
    .greeting {
        font-size: 1.1rem;
    }
    .item {
        padding: 1rem;
    }
    .nombre {
        font-size: 0.7rem;
    }
    .precio {
        font-size: 1rem;
    }
    .img-item {
        width: 80%;
    }
    
}

@media screen and (max-width: 368px) {
    .greeting {
        font-size: 1rem;
    }
}