.ItemListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
